<ion-modal-view style='height:80%;'>
    <ion-header-bar class='bar-dark'>
        <h1 class='title'>Menu</h1>
        <button class='button button-clear' ng-click='close()'>Close</button>
    </ion-header-bar>
    <ion-content scroll='true'>
        <div>
            <table>
                <td><button class="btn" ng-click='newImage()'>New Image</button></td>
                <td><button class="btn" ng-click='saveImage()'>Save Image</button></td>
                <td><button class="btn" ng-click='crazeMode()'>CraZe</button></td>
                <td><a id="author" href="https://github.com/zubie7a/"> / Santiago Zubieta </a></td>
            </table>
        </div>
    </ion-content>
</ion-modal-view>