
#menucontent * {
    font-size: 12px;
    max-height: 47px;
}

#menucontent {
    overflow: hidden;
}

#coltxt {
    border-radius: 10px;
    max-width: 60%;
}

#myCanvas {
    margin-top: -42px;
}

.selector {
    width: 60%;
    background-color: #FFF;
}

.ranger {
    max-width: 60%;
}

.ion-checkbox {
    margin-bottom: 10px;
    margin-top: 0px;
}

.ion-input-select, select {
/* This is used for styling the select for the request creation form.
   Sadly in Ionic there aren't beautiful selects :-(
   from http://forum.ionicframework.com/t/new-select-style-component/2503/2
*/
    -webkit-appearance:none;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);  
    border: thin solid #dddddd;
    font-weight: 300;
    display: inline;
    vertical-align: middle;
    color: #333;
    width: 100%;
    padding: auto 0;
    overflow: hidden;
    box-sizing:border-box;
}

.list.card.list_item {
    margin-top:    8px;
  	margin-left:   4px;
  	margin-right:  4px;
    margin-bottom: 8px;
}

.butable {
    width: 100%;
}

.butn {
    width: 100%;
}

.item-remove-animate.item-icon-right.searchitem > a.item-content {
    padding: 0 0 0 0;
}

.entire {
    width: 100%;
}

.half {
/* This is to create table fields that are half of the row containing them,
   to allow table fields of equal horizontal spread
*/
    width: 50%;
}

.third {
    width: 33%;
}
