<ion-view view-title='Profile'>
    <ion-nav-buttons side='right'>
        <button class='button icon-right ion-chevron-right button-clear' ng-click='signOut()'>Sign Out</button>
    </ion-nav-buttons>
    <ion-content>
        <div class='list card centerdiv'>
            <ion-item class='item-remove-animate item-icon-right searchitem' type='item-text-wrap' href=''>
                <div class='item item-avatar item-calm'>
                    <img ng-src='{{profileData.photo}}'>
                    <h2 style='color:#FFF'>{{profileData.uname}}</h2>
                    <p style='color:#EEE'>{{profileData.email}}</p>
                </div>
                <label class='item item-input item-label'>
                    <span class='input-label'> Phone </span>
                    <textarea ng-model='profileData.phone' placeholder='Write your phone number.'
                    rows='1' cols='50' maxlength='200'> </textarea>               
                </label>
                <div class='item item-divider item-calm'>
                    Matching Distance Limit ({{distance.value}} km)
                </div>
                <div class="item range range-balanced">
                    {{distance.min}} km
                    <input type="range" name="distance" value='{{distance.value}}'
                    min='{{distance.min}}' max='{{distance.max}}' step='{{distance.step}}' 
                    ng-model='distance.value' ng-change='distanceChange()'>
                    {{distance.max}} km 
                </div>
                <table class='butable' style='margin-top:-5px;'>
                    <tr>
                        <td class='half'>
                            <button class='button icon-left ion-camera button-block button-dark' 
                                    ng-click='takePicture()'>
                                Take Photo
                            </button>
                        </td>
                        <td class='half'>
                        <button class='button icon-right ion-star button-block button-energized' 
                                    ng-click='updateInfo()'>
                                View Ratings
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2'>
                            <button class='button button-block button-balanced' 
                                    ng-click='updateInfo()' style='margin-top:-10px;'>
                                Update Information
                            </button>
                        </td>
                    </tr>
                </table>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
